:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
  --custom-accent-color: 4, 14, 0, 0.51;
  --custom-success-color: 0, 101, 20, 0.84;
  --background-color-success: rgba(0, 151, 0, 0.09);
  --gray-12: rgba(29, 33, 28, 1);
  --success-color-link: #006514D5;
  --light-hover-background: #00200010;
  --color-background: 17, 18, 16;
  --font-size-3: 14px;
  --font-size-custom: 16px;
  --font-size-4:18px;
  --custom-radius-3: 6px;
  --custom-submit-button-background-color:rgba(0, 151, 0, 0.09);
  --custom-submit-button-color:rgba(0, 101, 20, 0.84);
  --light-hover-text-color: #60655F;
  --light-placeholder-color:#050F0078;
  --color-danger:#E5484D;
}

.dark {
  --custom-accent-color: 240, 253, 236, 0.45;
  --custom-success-color: 137, 255, 159, 0.8;
  --background-color-success: rgba(112, 254, 140, 0.11);
  --gray-12: rgba(255, 255, 255, 1);
  --success-color-link: #89FF9FCD;
  --light-hover-background: #F4F5F312;
  --color-background: 255, 255, 255, 1;
  --custom-submit-button-background-color:rgba(112, 254, 140, 0.11);
  --custom-submit-button-color:rgba(137, 255, 159, 0.8);
  --light-hover-text-color: #AFB5AD;
  --light-placeholder-color:#EBFDE766;
}

.radix-themes {
  --font-size-3: calc(14px * var(--scaling));
}

:root,
.light,
.light-theme {
  --gray-1: #fafef8;
  --gray-2: #f6faf4;
  --gray-3: #edf2ea;
  --gray-4: #e5eae2;
  --gray-5: #dde3da;
  --gray-6: #d5dbd2;
  --gray-7: #cad0c6;
  --gray-8: #b7beb2;
  --gray-9: #83917b;
  --gray-10: #7a8672;
  --gray-11: #5d6758;
  --gray-12: #17240e;

  --gray-a1: #49db0007;
  --gray-a2: #2f8c000b;
  --gray-a3: #25620015;
  --gray-a4: #1b47001d;
  --gray-a5: #153f0025;
  --gray-a6: #1133002d;
  --gray-a7: #122d0039;
  --gray-a8: #1128004d;
  --gray-a9: #102b0084;
  --gray-a10: #0f25008d;
  --gray-a11: #081700a7;
  --gray-a12: #0a1700f1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #83917b;
  --gray-track: #83917b;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {

    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.2% 0.009 134);
      --gray-2: oklch(98.1% 0.009 134);
      --gray-3: oklch(95.5% 0.012 134);
      --gray-4: oklch(93.1% 0.012 134);
      --gray-5: oklch(90.9% 0.014 134);
      --gray-6: oklch(88.5% 0.014 134);
      --gray-7: oklch(85.1% 0.015 134);
      --gray-8: oklch(79.2% 0.018 134);
      --gray-9: oklch(63.9% 0.036 134);
      --gray-10: oklch(60.5% 0.034 134);
      --gray-11: oklch(50.1% 0.027 134);
      --gray-12: oklch(24% 0.042 134);

      --gray-a1: color(display-p3 0.443 0.863 0.024 / 0.028);
      --gray-a2: color(display-p3 0.29 0.557 0.02 / 0.044);
      --gray-a3: color(display-p3 0.157 0.357 0.008 / 0.079);
      --gray-a4: color(display-p3 0.11 0.255 0.004 / 0.11);
      --gray-a5: color(display-p3 0.09 0.227 0.008 / 0.142);
      --gray-a6: color(display-p3 0.075 0.184 0.004 / 0.173);
      --gray-a7: color(display-p3 0.075 0.165 0.004 / 0.22);
      --gray-a8: color(display-p3 0.071 0.149 0.004 / 0.299);
      --gray-a9: color(display-p3 0.071 0.157 0 / 0.51);
      --gray-a10: color(display-p3 0.059 0.129 0 / 0.546);
      --gray-a11: color(display-p3 0.035 0.086 0 / 0.651);
      --gray-a12: color(display-p3 0.039 0.078 0 / 0.934);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(63.9% 0.036 134);
      --gray-track: oklch(63.9% 0.036 134);
    }
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgba(var(--custom-accent-color));
}

a {
  color: rgba(var(--custom-accent-color));
  text-decoration: none;
}

a.active {
  color: rgba(var(--custom-success-color));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.SidebarArea .rt-ScrollAreaRoot {
  height: 100vh;
  padding-left: 1rem;
  position: fixed !important;
  top: 0;  
  background-color: var(--color-background);
  z-index: 99;
  width: 100%;
  display: none;
}

.SidebarArea .rt-ScrollAreaScrollbar {
  width: 0;
}

.main-content{
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width:992px) {
  .SidebarArea .rt-ScrollAreaRoot {
    width: 250px;
    display: block;
  }

  .main-content{
    padding-left: 90px;
    padding-top: 0px;
  }
}
.nav_bar_drawer{
  background-color: var(--background-color-success);
  color: var(--custom-success-color);
  cursor: pointer;
}
.ghost_left{
  background-color: var(--light-hover-background);
  color: var(--light-hover-text-color);
  cursor: pointer;
}
.d-block{
  display: block!important;
}